<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img
        src="https://scontent.fsgn2-6.fna.fbcdn.net/v/t39.30808-6/287120936_4926817137422760_89692307478003524_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=730e14&_nc_ohc=vrTvPFBwRiYAX_ciKF5&_nc_ht=scontent.fsgn2-6.fna&oh=00_AT91D3ilgo5sIB30q_YolvF4LDSM2zl4mTs9_A_z6mwW7g&oe=62A5CE3F"
        class="me-2"
        height="50"
        alt="MDB Logo"
        loading="lazy"
      />
      <small>HACKER-NEWS</small>
    </a>
  </div>
</nav>
