<div id="call-reservation" style="margin: 10px">
  <div class="section-title text-center center">
    <div class="overlay">
      <h2>HỢP ĐỒNG</h2>
      <hr>

    </div>
  </div>

  <div>
    <table class="table table-striped">
      <caption class="text-black text-center"><h4>Danh sách hợp đồng</h4></caption>
      <thead>
      <tr class="table-active bg-info">
        <th>ID</th>
        <th>Mã HĐ</th>
        <th>Ngày bắt đầu</th>
        <th>Ngày kết thúc</th>
        <th>Đặt trước (VND)</th>
        <th>Tổng tiền (VND)</th>
        <th>Nhân viên</th>
        <th>Khách hàng</th>
        <th>Dịch vụ</th>
      </tr>
      </thead>
      <tbody>
      <tr class="table-warning">
        <td>1</td>
        <td>HĐ-001</td>
        <td>2020-01-01</td>
        <td>2020-02-02</td>
        <td>500000</td>
        <td>3500000</td>
        <td>Trần Lê Duy Hiển</td>
        <td>Hoàng Định</td>
        <td>Room Suite hướng biển</td>
      </tr>
      <tr class="table-warning">
        <td>2</td>
        <td>HĐ-002</td>
        <td>2020-03-03</td>
        <td>2020-04-04</td>
        <td>500000</td>
        <td>3500000</td>
        <td>Đoàn Văn Hậu</td>
        <td>Quang Trường</td>
        <td>Villa hướng vườn</td>
      </tr>
      <tr class="table-warning">
        <td>3</td>
        <td>HĐ-003</td>
        <td>2020-05-05</td>
        <td>2020-06-06</td>
        <td>2000000</td>
        <td>10500000</td>
        <td>Trần Lê Duy Hiển</td>
        <td>Phạm Anh Tuấn</td>
        <td>Villa hướng biển</td>
      </tr>

      </tbody>


    </table>
  </div>
</div>






