<div id="restaurant-menu" style="margin: 10px">
  <div class="section-title text-center center">
    <div class="overlay">
      <h2>KHÁCH HÀNG</h2>
      <hr>

    </div>
  </div>

  <div>
    <table class="table table-striped">
      <caption class="text-black text-center"><h4>Danh sách khách hàng</h4></caption>
      <thead>
      <tr class="table-active">
        <th>ID</th>
        <th>Mã KH</th>
        <th>Kiểu loại khách</th>
        <th>Tên</th>
        <th>Năm sinh</th>
        <th>Giới tính</th>
        <th>Số CMND</th>
        <th>Số ĐT</th>
        <th>Email</th>
        <th>Địa chỉ</th>
        <th>Xoá</th>
        <th>Chỉnh sửa</th>
      </tr>
      </thead>
      <tbody>
      <tr class="table-warning" *ngFor="let customer of customers">
        <td>{{customer.id}}</td>
        <td>{{customer.code}}</td>
        <td>{{customer.typeCustomer}}</td>
        <td>{{customer.name}}</td>
        <td>{{customer.dayOfBirth}}</td>
        <td>{{customer.gender}}</td>
        <td>{{customer.idCard}}</td>
        <td>{{customer.phone}}</td>
        <td>{{customer.email}}</td>
        <td>{{customer.address}}</td>
        <td>
          <button class="btn btn-danger">
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="10" fill="currentColor"
                 class="bi bi-wrench" viewBox="0 0 16 16">
              <path
                d="M.102 2.223A3.004 3.004 0 0 0 3.78 5.897l6.341 6.252A3.003 3.003 0 0 0 13 16a3 3 0 1 0-.851-5.878L5.897 3.781A3.004 3.004 0 0 0 2.223.1l2.141 2.142L4 4l-1.757.364L.102 2.223zm13.37 9.019.528.026.287.445.445.287.026.529L15 13l-.242.471-.026.529-.445.287-.287.445-.529.026L13 15l-.471-.242-.529-.026-.287-.445-.445-.287-.026-.529L11 13l.242-.471.026-.529.445-.287.287-.445.529-.026L13 11l.471.242z"/>
            </svg>
          </button>
        </td>
        <td>
          <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#exampleModal">
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="10" fill="currentColor"
                 class="bi bi-trash" viewBox="0 0 16 16">
              <path
                d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
              <path fill-rule="evenodd"
                    d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
            </svg>
          </button>
        </td>
      </tr>
<!--      <tr class="table-warning">-->
<!--        <td>2</td>-->
<!--        <td>KH-002</td>-->
<!--        <td>Platinum</td>-->
<!--        <td>Anh Tuấn</td>-->
<!--        <td>1996-12-12</td>-->
<!--        <td>Nam</td>-->
<!--        <td>201632533</td>-->
<!--        <td>0903666666</td>-->
<!--        <td>tuananh@gmail.com</td>-->
<!--        <td>Thanh Khê, Đà Nẵng</td>-->
<!--        <td>-->
<!--          <button class="btn btn-danger">-->
<!--            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="10" fill="currentColor"-->
<!--                 class="bi bi-wrench" viewBox="0 0 16 16">-->
<!--              <path-->
<!--                d="M.102 2.223A3.004 3.004 0 0 0 3.78 5.897l6.341 6.252A3.003 3.003 0 0 0 13 16a3 3 0 1 0-.851-5.878L5.897 3.781A3.004 3.004 0 0 0 2.223.1l2.141 2.142L4 4l-1.757.364L.102 2.223zm13.37 9.019.528.026.287.445.445.287.026.529L15 13l-.242.471-.026.529-.445.287-.287.445-.529.026L13 15l-.471-.242-.529-.026-.287-.445-.445-.287-.026-.529L11 13l.242-.471.026-.529.445-.287.287-.445.529-.026L13 11l.471.242z"/>-->
<!--            </svg>-->
<!--          </button>-->
<!--        </td>-->
<!--        <td>-->
<!--          <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#exampleModal">-->
<!--            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="10" fill="currentColor"-->
<!--                 class="bi bi-trash" viewBox="0 0 16 16">-->
<!--              <path-->
<!--                d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>-->
<!--              <path fill-rule="evenodd"-->
<!--                    d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>-->
<!--            </svg>-->
<!--          </button>-->
<!--        </td>-->
<!--      </tr>-->
<!--      <tr class="table-warning">-->
<!--        <td>3</td>-->
<!--        <td>KH-003</td>-->
<!--        <td>Gold</td>-->
<!--        <td>Quang Trường</td>-->
<!--        <td>2000-12-12</td>-->
<!--        <td>Nam</td>-->
<!--        <td>252333212</td>-->
<!--        <td>0903555444</td>-->
<!--        <td>changtraitre2000@gmail.com</td>-->
<!--        <td>Ngũ Hành Sơn, Đà Nẵng</td>-->
<!--        <td>-->
<!--          <button class="btn btn-danger">-->
<!--            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="10" fill="currentColor"-->
<!--                 class="bi bi-wrench" viewBox="0 0 16 16">-->
<!--              <path-->
<!--                d="M.102 2.223A3.004 3.004 0 0 0 3.78 5.897l6.341 6.252A3.003 3.003 0 0 0 13 16a3 3 0 1 0-.851-5.878L5.897 3.781A3.004 3.004 0 0 0 2.223.1l2.141 2.142L4 4l-1.757.364L.102 2.223zm13.37 9.019.528.026.287.445.445.287.026.529L15 13l-.242.471-.026.529-.445.287-.287.445-.529.026L13 15l-.471-.242-.529-.026-.287-.445-.445-.287-.026-.529L11 13l.242-.471.026-.529.445-.287.287-.445.529-.026L13 11l.471.242z"/>-->
<!--            </svg>-->
<!--          </button>-->
<!--        </td>-->
<!--        <td>-->
<!--          <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#exampleModal">-->
<!--            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="10" fill="currentColor"-->
<!--                 class="bi bi-trash" viewBox="0 0 16 16">-->
<!--              <path-->
<!--                d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>-->
<!--              <path fill-rule="evenodd"-->
<!--                    d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>-->
<!--            </svg>-->
<!--          </button>-->
<!--        </td>-->
<!--      </tr>-->

      </tbody>


    </table>
  </div>
</div>


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Khách hàng</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Chắc chắn xoá khách hàng?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
        <button type="button" class="btn btn-primary">Xoá</button>
      </div>
    </div>
  </div>
</div>

<script>
  $('#myModal').on('shown.bs.modal', function () {
    $('#myInput').trigger('focus')
  })
</script>



