<div id="portfolio1" style="margin: 10px">
  <div class="section-title text-center center">
    <div class="overlay">
      <h2>Dịch vụ</h2>
      <hr>
      <p>Khu nghỉ dưỡng Furama Đà Nẵng là một khu nghỉ dưỡng 5 sao sang trọng, có uy tín và được xem là một trong
        những biểu tượng của ngành du lịch Việt Nam.</p>
    </div>
  </div>

  <div>

    <h4 class="container"><a class="text-primary" [routerLink]="['/facilities-list']">Danh sách dịch vụ</a></h4>

    <div>
      <form [formGroup]="facilitiesForm" (ngSubmit)="updateFacilities(id)">
        <fieldset>
          <legend><h3>Cập nhật dịch vụ</h3></legend>
          <table>
            <tr>
              <th>Id:</th>
              <td><input class="form-control" type="hidden" formControlName="id" name="id">
              </td>
            </tr>
            <tr>
              <th>Tên dịch vụ:</th>
              <td><input class="form-control" type="text" formControlName="name" name="name">
                <p *ngIf="facilitiesForm.get('name').errors?.required && facilitiesForm.get('name').touched">Tên dịch vụ không được để trống!</p>
              </td>
            </tr>
            <tr>
              <th>Giá (VND):</th>
              <td><input class="form-control" type="text" formControlName="price" name="price">
                <p *ngIf="facilitiesForm.get('price').errors?.required && facilitiesForm.get('price').touched">Giá không được để trống!</p>
                <p *ngIf="facilitiesForm.get('price').errors?.min && facilitiesForm.get('price').touched">Giá không được nhỏ hơn 100000(VND)!</p>
              </td>
            </tr>
            <tr>
              <th>Ảnh:</th>
              <td><input class="form-control" type="text" formControlName="url" name="url">
                <p *ngIf="facilitiesForm.get('url').errors?.required && facilitiesForm.get('url').touched">Ảnh dịch vụ không được để trống!</p>
              </td>
            </tr>

          </table>
          <!--          <table>-->
          <!--            <tr>-->
          <!--              <th>Id:</th>-->
          <!--              <td><input class="form-control" type="text" [(ngModel)]="facility.id" name="id"></td>-->
          <!--            </tr>-->
          <!--            <tr>-->
          <!--              <th>Tên dịch vụ:</th>-->
          <!--              <td><input class="form-control" type="text" [(ngModel)]="facility.name" name="name"></td>-->
          <!--            </tr>-->
          <!--            <tr>-->
          <!--              <th>Giá (VND):</th>-->
          <!--              <td><input class="form-control" type="text" [(ngModel)]="facility.price" name="price"></td>-->
          <!--            </tr>-->
          <!--            <tr>-->
          <!--              <th>Ảnh:</th>-->
          <!--              <td><input class="form-control" type="text" [(ngModel)]="facility.url" name="url"></td>-->
          <!--            </tr>-->

          <!--          </table>-->
          <div>
            <button class="btn btn-success" type="submit">Cập nhật</button>
          </div>
        </fieldset>
      </form>
    </div>

  </div>


</div>
