<div id="portfolio" style="margin: 10px">
  <div class="section-title text-center center">
    <div class="overlay">
      <h2>Dịch vụ</h2>
      <hr>
      <p>Khu nghỉ dưỡng Furama Đà Nẵng là một khu nghỉ dưỡng 5 sao sang trọng, có uy tín và được xem là một trong
        những biểu tượng của ngành du lịch Việt Nam.</p>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="categories">
        <ul class="cat">
          <li>
            <ol class="type">
              <li><a [routerLink]="['/facilities-create']" data-filter="*" class="active">Thêm mới dịch vụ</a></li>
<!--              <li><a href="#" data-filter=".villa">Villa</a></li>-->
<!--              <li><a href="#" data-filter=".room">Room</a></li>-->
<!--              <li><a href="#" data-filter=".house">House</a></li>-->
            </ol>
          </li>
        </ul>
        <div class="clearfix"></div>
      </div>
    </div>
    <div class="row">
      <div class="portfolio-items">
        <div class="col-sm-6 col-md-4 col-lg-4 villa" *ngFor="let fac of facilities">
          <div class="portfolio-item">
            <div class="hover-bg">
              <img [src]="fac.url"
                   class="img-responsive" alt="Project Title">
            </div>

            <div class="text-center">
              <h5 class="text-info">{{fac.name}}</h5>
              <h5 class="text-info bg-success">{{fac.price}} (vnd)</h5>
              <button class="btn btn-danger">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="10" fill="currentColor"
                     class="bi bi-wrench" viewBox="0 0 16 16">
                  <path d="M.102 2.223A3.004 3.004 0 0 0 3.78 5.897l6.341 6.252A3.003 3.003 0 0 0 13 16a3 3 0 1 0-.851-5.878L5.897 3.781A3.004 3.004 0 0 0 2.223.1l2.141 2.142L4 4l-1.757.364L.102 2.223zm13.37 9.019.528.026.287.445.445.287.026.529L15 13l-.242.471-.026.529-.445.287-.287.445-.529.026L13 15l-.471-.242-.529-.026-.287-.445-.445-.287-.026-.529L11 13l.242-.471.026-.529.445-.287.287-.445.529-.026L13 11l.471.242z"/>
                </svg>
              </button>
              <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#exampleModal">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="10" fill="currentColor"
                     class="bi bi-trash" viewBox="0 0 16 16">
                  <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                  <path fill-rule="evenodd"
                        d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                </svg>
              </button>
            </div>

          </div>
        </div>
<!--        <div class="col-sm-6 col-md-4 col-lg-4 room">-->
<!--          <div class="portfolio-item">-->
<!--            <div class="hover-bg"><a-->
<!--              href="https://furamavietnam.com/wp-content/uploads/2018/03/%5E224942630D3A5A787C2989A9F5AF4A3E34E6A8CAE8D94FA3D4%5Epimgpsh_fullsize_distr.jpg"-->
<!--              title="Chi tiết" data-lightbox-gallery="gallery1">-->
<!--              <div class="hover-text">-->
<!--                <h4>Chi tiết</h4>-->
<!--              </div>-->
<!--              <img src="https://furamavietnam.com/wp-content/uploads/2018/03/Vietnam_Danang_Furama_Ocean-Suite-Feature-370x239.jpg"-->
<!--                   class="img-responsive" alt="Project Title"> </a>-->
<!--            </div>-->
<!--            <div class="text-center">-->
<!--              <h5 class="text-info">Room suite hướng biển</h5>-->
<!--              <button class="btn btn-danger">-->
<!--                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="10" fill="currentColor"-->
<!--                     class="bi bi-wrench" viewBox="0 0 16 16">-->
<!--                  <path d="M.102 2.223A3.004 3.004 0 0 0 3.78 5.897l6.341 6.252A3.003 3.003 0 0 0 13 16a3 3 0 1 0-.851-5.878L5.897 3.781A3.004 3.004 0 0 0 2.223.1l2.141 2.142L4 4l-1.757.364L.102 2.223zm13.37 9.019.528.026.287.445.445.287.026.529L15 13l-.242.471-.026.529-.445.287-.287.445-.529.026L13 15l-.471-.242-.529-.026-.287-.445-.445-.287-.026-.529L11 13l.242-.471.026-.529.445-.287.287-.445.529-.026L13 11l.471.242z"/>-->
<!--                </svg>-->
<!--              </button>-->
<!--              <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#exampleModal">-->
<!--                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="10" fill="currentColor"-->
<!--                     class="bi bi-trash" viewBox="0 0 16 16">-->
<!--                  <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>-->
<!--                  <path fill-rule="evenodd"-->
<!--                        d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>-->
<!--                </svg>-->
<!--              </button>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="col-sm-6 col-md-4 col-lg-4 villa">-->
<!--          <div class="portfolio-item">-->
<!--            <div class="hover-bg"><a-->
<!--              href="https://furamavietnam.com/wp-content/uploads/2018/08/Vietnam_Danang_Furama_Villas_Pool_Villas.jpg"-->
<!--              title="Chi tiết" data-lightbox-gallery="gallery1">-->
<!--              <div class="hover-text">-->
<!--                <h4>Chi tiết</h4>-->
<!--              </div>-->
<!--              <img src="https://furamavietnam.com/wp-content/uploads/2018/08/Vietnam_Danang_Furama_Villas_Pool_Villas-F-370x239.jpg"-->
<!--                   class="img-responsive" alt="Project Title"> </a></div>-->
<!--            <div class="text-center">-->
<!--              <h5 class="text-info">Villa hướng vườn</h5>-->
<!--              <button class="btn btn-danger">-->
<!--                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="10" fill="currentColor"-->
<!--                     class="bi bi-wrench" viewBox="0 0 16 16">-->
<!--                  <path d="M.102 2.223A3.004 3.004 0 0 0 3.78 5.897l6.341 6.252A3.003 3.003 0 0 0 13 16a3 3 0 1 0-.851-5.878L5.897 3.781A3.004 3.004 0 0 0 2.223.1l2.141 2.142L4 4l-1.757.364L.102 2.223zm13.37 9.019.528.026.287.445.445.287.026.529L15 13l-.242.471-.026.529-.445.287-.287.445-.529.026L13 15l-.471-.242-.529-.026-.287-.445-.445-.287-.026-.529L11 13l.242-.471.026-.529.445-.287.287-.445.529-.026L13 11l.471.242z"/>-->
<!--                </svg>-->
<!--              </button>-->
<!--              <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#exampleModal">-->
<!--                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="10" fill="currentColor"-->
<!--                     class="bi bi-trash" viewBox="0 0 16 16">-->
<!--                  <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>-->
<!--                  <path fill-rule="evenodd"-->
<!--                        d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>-->
<!--                </svg>-->
<!--              </button>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->

<!--        <div class="col-sm-6 col-md-4 col-lg-4 room">-->
<!--          <div class="portfolio-item">-->
<!--            <div class="hover-bg"><a-->
<!--              href="https://furamavietnam.com/wp-content/uploads/2018/03/Vietnam_Danang_Furama_Ocean-Studio-Suite-M.jpg"-->
<!--              title="Chi tiết" data-lightbox-gallery="gallery1">-->
<!--              <div class="hover-text">-->
<!--                <h4>Chi tiết</h4>-->
<!--              </div>-->
<!--              <img src="https://furamavietnam.com/wp-content/uploads/2018/03/Vietnam_Danang_Furama_Ocean-Studio-Suite-F-370x239.jpg"-->
<!--                   class="img-responsive" alt="Project Title"> </a></div>-->
<!--            <div class="text-center">-->
<!--              <h5 class="text-info">Room studio suite hướng biển</h5>-->
<!--              <button class="btn btn-danger">-->
<!--                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="10" fill="currentColor"-->
<!--                     class="bi bi-wrench" viewBox="0 0 16 16">-->
<!--                  <path d="M.102 2.223A3.004 3.004 0 0 0 3.78 5.897l6.341 6.252A3.003 3.003 0 0 0 13 16a3 3 0 1 0-.851-5.878L5.897 3.781A3.004 3.004 0 0 0 2.223.1l2.141 2.142L4 4l-1.757.364L.102 2.223zm13.37 9.019.528.026.287.445.445.287.026.529L15 13l-.242.471-.026.529-.445.287-.287.445-.529.026L13 15l-.471-.242-.529-.026-.287-.445-.445-.287-.026-.529L11 13l.242-.471.026-.529.445-.287.287-.445.529-.026L13 11l.471.242z"/>-->
<!--                </svg>-->
<!--              </button>-->
<!--              <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#exampleModal">-->
<!--                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="10" fill="currentColor"-->
<!--                     class="bi bi-trash" viewBox="0 0 16 16">-->
<!--                  <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>-->
<!--                  <path fill-rule="evenodd"-->
<!--                        d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>-->
<!--                </svg>-->
<!--              </button>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="col-sm-6 col-md-4 col-lg-4 house">-->
<!--          <div class="portfolio-item">-->
<!--            <div class="hover-bg"><a-->
<!--              href="https://furamavietnam.com/wp-content/uploads/2018/03/Vietnam_Danang_Furama_Lagoon-Superior-twin-bed-M.jpg"-->
<!--              title="Chi tiết" data-lightbox-gallery="gallery1">-->
<!--              <div class="hover-text">-->
<!--                <h4>Chi tiết</h4>-->
<!--              </div>-->
<!--              <img src="https://furamavietnam.com/wp-content/uploads/2018/03/Vietnam_Danang_Furama_Lagoon-Superior-twin-bed-F-370x239.jpg"-->
<!--                   class="img-responsive" alt="Project Title"> </a></div>-->
<!--            <div class="text-center">-->
<!--              <h5 class="text-info">House superior hướng biển</h5>-->
<!--              <button class="btn btn-danger">-->
<!--                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="10" fill="currentColor"-->
<!--                     class="bi bi-wrench" viewBox="0 0 16 16">-->
<!--                  <path d="M.102 2.223A3.004 3.004 0 0 0 3.78 5.897l6.341 6.252A3.003 3.003 0 0 0 13 16a3 3 0 1 0-.851-5.878L5.897 3.781A3.004 3.004 0 0 0 2.223.1l2.141 2.142L4 4l-1.757.364L.102 2.223zm13.37 9.019.528.026.287.445.445.287.026.529L15 13l-.242.471-.026.529-.445.287-.287.445-.529.026L13 15l-.471-.242-.529-.026-.287-.445-.445-.287-.026-.529L11 13l.242-.471.026-.529.445-.287.287-.445.529-.026L13 11l.471.242z"/>-->
<!--                </svg>-->
<!--              </button>-->
<!--              <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#exampleModal">-->
<!--                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="10" fill="currentColor"-->
<!--                     class="bi bi-trash" viewBox="0 0 16 16">-->
<!--                  <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>-->
<!--                  <path fill-rule="evenodd"-->
<!--                        d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>-->
<!--                </svg>-->
<!--              </button>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="col-sm-6 col-md-4 col-lg-4 house">-->
<!--          <div class="portfolio-item">-->
<!--            <div class="hover-bg"><a-->
<!--              href="https://furamavietnam.com/wp-content/uploads/2018/03/Vietnam_Danang_Furama_Garden-Superior-TwinBed-1_M2.jpg"-->
<!--              title="Chi tiết" data-lightbox-gallery="gallery1">-->
<!--              <div class="hover-text">-->
<!--                <h4>Chi tiết</h4>-->
<!--              </div>-->
<!--              <img src="https://furamavietnam.com/wp-content/uploads/2018/03/Vietnam_Danang_Furama_Garden-Superior-TwinBed-1-F-370x239.jpg"-->
<!--                   class="img-responsive" alt="Project Title"> </a></div>-->
<!--            <div class="text-center">-->
<!--              <h5 class="text-info">House superior hướng vườn</h5>-->
<!--              <button class="btn btn-danger">-->
<!--                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="10" fill="currentColor"-->
<!--                     class="bi bi-wrench" viewBox="0 0 16 16">-->
<!--                  <path d="M.102 2.223A3.004 3.004 0 0 0 3.78 5.897l6.341 6.252A3.003 3.003 0 0 0 13 16a3 3 0 1 0-.851-5.878L5.897 3.781A3.004 3.004 0 0 0 2.223.1l2.141 2.142L4 4l-1.757.364L.102 2.223zm13.37 9.019.528.026.287.445.445.287.026.529L15 13l-.242.471-.026.529-.445.287-.287.445-.529.026L13 15l-.471-.242-.529-.026-.287-.445-.445-.287-.026-.529L11 13l.242-.471.026-.529.445-.287.287-.445.529-.026L13 11l.471.242z"/>-->
<!--                </svg>-->
<!--              </button>-->
<!--              <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#exampleModal">-->
<!--                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="10" fill="currentColor"-->
<!--                     class="bi bi-trash" viewBox="0 0 16 16">-->
<!--                  <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>-->
<!--                  <path fill-rule="evenodd"-->
<!--                        d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>-->
<!--                </svg>-->
<!--              </button>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->

<!--        <div class="col-sm-6 col-md-4 col-lg-4 room">-->
<!--          <div class="portfolio-item">-->
<!--            <div class="hover-bg"><a-->
<!--              href="https://furamavietnam.com/wp-content/uploads/2018/03/Vietnam_Danang_Furama_Ocean-Deluxe-double-bed-M.jpg"-->
<!--              title="Chi tiết" data-lightbox-gallery="gallery1">-->
<!--              <div class="hover-text">-->
<!--                <h4>Chi tiết</h4>-->
<!--              </div>-->
<!--              <img src="https://furamavietnam.com/wp-content/uploads/2018/03/Vietnam_Danang_Furama_Ocean-Deluxe-double-bed-F-370x239.jpg"-->
<!--                   class="img-responsive" alt="Project Title"> </a></div>-->
<!--            <div class="text-center">-->
<!--              <h5 class="text-info">Room deluxe hướng biển</h5>-->
<!--              <button class="btn btn-danger">-->
<!--                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="10" fill="currentColor"-->
<!--                     class="bi bi-wrench" viewBox="0 0 16 16">-->
<!--                  <path d="M.102 2.223A3.004 3.004 0 0 0 3.78 5.897l6.341 6.252A3.003 3.003 0 0 0 13 16a3 3 0 1 0-.851-5.878L5.897 3.781A3.004 3.004 0 0 0 2.223.1l2.141 2.142L4 4l-1.757.364L.102 2.223zm13.37 9.019.528.026.287.445.445.287.026.529L15 13l-.242.471-.026.529-.445.287-.287.445-.529.026L13 15l-.471-.242-.529-.026-.287-.445-.445-.287-.026-.529L11 13l.242-.471.026-.529.445-.287.287-.445.529-.026L13 11l.471.242z"/>-->
<!--                </svg>-->
<!--              </button>-->
<!--              <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#exampleModal">-->
<!--                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="10" fill="currentColor"-->
<!--                     class="bi bi-trash" viewBox="0 0 16 16">-->
<!--                  <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>-->
<!--                  <path fill-rule="evenodd"-->
<!--                        d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>-->
<!--                </svg>-->
<!--              </button>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="col-sm-6 col-md-4 col-lg-4 house">-->
<!--          <div class="portfolio-item">-->
<!--            <div class="hover-bg"><a-->
<!--              href="https://furamavietnam.com/wp-content/uploads/2018/08/Vietnam_Danang_Furama_Garden-Deluxe-twin-bed-M.jpg"-->
<!--              title="Chi tiết" data-lightbox-gallery="gallery1">-->
<!--              <div class="hover-text">-->
<!--                <h4>Chi tiết</h4>-->
<!--              </div>-->
<!--              <img src="https://furamavietnam.com/wp-content/uploads/2018/08/Vietnam_Danang_Furama_Garden-Deluxe-twin-bed-F-370x239.jpg"-->
<!--                   class="img-responsive" alt="Project Title"> </a></div>-->
<!--            <div class="text-center">-->
<!--              <h5 class="text-info">House deluxe hướng biển</h5>-->
<!--              <button class="btn btn-danger">-->
<!--                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="10" fill="currentColor"-->
<!--                     class="bi bi-wrench" viewBox="0 0 16 16">-->
<!--                  <path d="M.102 2.223A3.004 3.004 0 0 0 3.78 5.897l6.341 6.252A3.003 3.003 0 0 0 13 16a3 3 0 1 0-.851-5.878L5.897 3.781A3.004 3.004 0 0 0 2.223.1l2.141 2.142L4 4l-1.757.364L.102 2.223zm13.37 9.019.528.026.287.445.445.287.026.529L15 13l-.242.471-.026.529-.445.287-.287.445-.529.026L13 15l-.471-.242-.529-.026-.287-.445-.445-.287-.026-.529L11 13l.242-.471.026-.529.445-.287.287-.445.529-.026L13 11l.471.242z"/>-->
<!--                </svg>-->
<!--              </button>-->
<!--              <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#exampleModal">-->
<!--                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="10" fill="currentColor"-->
<!--                     class="bi bi-trash" viewBox="0 0 16 16">-->
<!--                  <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>-->
<!--                  <path fill-rule="evenodd"-->
<!--                        d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>-->
<!--                </svg>-->
<!--              </button>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="col-sm-6 col-md-4 col-lg-4 house">-->
<!--          <div class="portfolio-item">-->
<!--            <div class="hover-bg"><a-->
<!--              href="https://furamavietnam.com/wp-content/uploads/2018/03/Presidential-Suite-M.jpg"-->
<!--              title="Chi tiết" data-lightbox-gallery="gallery1">-->
<!--              <div class="hover-text">-->
<!--                <h4>Chi tiết</h4>-->
<!--              </div>-->
<!--              <img src="https://furamavietnam.com/wp-content/uploads/2018/03/Presidential-Suite-F-370x239.jpg"-->
<!--                   class="img-responsive" alt="Project Title"> </a></div>-->
<!--            <div class="text-center">-->
<!--              <h5 class="text-info">House deluxe hướng vườn</h5>-->
<!--              <button class="btn btn-danger">-->
<!--                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="10" fill="currentColor"-->
<!--                     class="bi bi-wrench" viewBox="0 0 16 16">-->
<!--                  <path d="M.102 2.223A3.004 3.004 0 0 0 3.78 5.897l6.341 6.252A3.003 3.003 0 0 0 13 16a3 3 0 1 0-.851-5.878L5.897 3.781A3.004 3.004 0 0 0 2.223.1l2.141 2.142L4 4l-1.757.364L.102 2.223zm13.37 9.019.528.026.287.445.445.287.026.529L15 13l-.242.471-.026.529-.445.287-.287.445-.529.026L13 15l-.471-.242-.529-.026-.287-.445-.445-.287-.026-.529L11 13l.242-.471.026-.529.445-.287.287-.445.529-.026L13 11l.471.242z"/>-->
<!--                </svg>-->
<!--              </button>-->
<!--              <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#exampleModal">-->
<!--                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="10" fill="currentColor"-->
<!--                     class="bi bi-trash" viewBox="0 0 16 16">-->
<!--                  <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>-->
<!--                  <path fill-rule="evenodd"-->
<!--                        d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>-->
<!--                </svg>-->
<!--              </button>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->

      </div>
    </div>
  </div>
</div>




<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Dịch vụ</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Chắc chắn xoá dịch vụ?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
        <button type="button" class="btn btn-primary">Xoá</button>
      </div>
    </div>
  </div>
</div>

<script>
  $('#myModal').on('shown.bs.modal', function () {
    $('#myInput').trigger('focus')
  })
</script>


<app-facilities-create (submitCreate)="createFacility($event)"></app-facilities-create>

