<div style="margin: 10px; margin-top: 100px">

  <div>
    <a class="btn btn-success" [routerLink]="['/transaction/create']">Thêm mới giao dịch</a>
  </div>
  <div>
    <table class="table table-striped">
      <caption class="text-black text-center"><h4>Danh sách giao dịch</h4></caption>
      <thead>
      <tr class="table-active bg-info">
        <th>#</th>
        <th>ID</th>
        <th>Mã GD</th>
        <th>Tên khách hàng</th>
        <th>Kiểu dịch vụ</th>
        <th>Ngày giao dịch</th>
        <th>Đơn giá (VND/m2)</th>
        <th>Diện tích (m2)</th>
        <th>Chỉnh sửa</th>
        <th>Xoá</th>
      </tr>
      </thead>
      <tbody>
      <tr class="table-warning"
          *ngFor="let trade of transactions|paginate : { itemsPerPage: 2, currentPage: p }; index as i">
        <td>{{i + 1}}</td>
        <td>{{trade.id}}</td>
        <td>{{trade.code}}</td>
        <td>{{trade.name.name}}</td>
        <td>{{trade.typeFacility}}</td>
        <td>{{trade.dayTrading|date: 'dd/MM/yyyy'}}</td>
        <td>{{trade.unitPrice|currency:'VND'}}</td>
        <td>{{trade.area}}</td>
        <td>
          <button class="btn btn-danger">
            <a [routerLink]="['/transaction/edit', trade.id]">
              <svg xmlns="http://www.w3.org/2000/svg" width="30" height="10" fill="currentColor"
                   class="bi bi-wrench" viewBox="0 0 16 16">
                <path
                  d="M.102 2.223A3.004 3.004 0 0 0 3.78 5.897l6.341 6.252A3.003 3.003 0 0 0 13 16a3 3 0 1 0-.851-5.878L5.897 3.781A3.004 3.004 0 0 0 2.223.1l2.141 2.142L4 4l-1.757.364L.102 2.223zm13.37 9.019.528.026.287.445.445.287.026.529L15 13l-.242.471-.026.529-.445.287-.287.445-.529.026L13 15l-.471-.242-.529-.026-.287-.445-.445-.287-.026-.529L11 13l.242-.471.026-.529.445-.287.287-.445.529-.026L13 11l.471.242z"/>
              </svg>
            </a>
          </button>
        </td>
        <td>
          <button type="button" class="btn btn-warning"
                  data-toggle="modal" data-target="#exampleModal" (click)="getTransaction(trade.id, trade.name)">
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="10" fill="currentColor"
                 class="bi bi-trash" viewBox="0 0 16 16">
              <path
                d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
              <path fill-rule="evenodd"
                    d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
            </svg>
          </button>
        </td>
      </tr>

      </tbody>


    </table>
  </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Khách hàng</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Chắc chắn xoá hợp đồng {{name}}?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
        <button type="button" class="btn btn-primary" (click)="delete(id)" data-dismiss="modal">Xoá</button>
      </div>
    </div>
  </div>
</div>

<div style="justify-content: space-around;display: flex;">
  <pagination-controls (pageChange)="p = $event" class=" page-item"></pagination-controls>
</div>

<script>
  $('#myModal').on('shown.bs.modal', function () {
    $('#myInput').trigger('focus')
  })

</script>






